ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: #2B3CD0;
  --ion-background-color: transparent;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-img{
  width: 50px;
}
ion-col.my-thin-col {
  flex: 0 0 4px;
}

ion-text{
  color: #fff;
  font-family: 'Itim';
  font-size: 32px;
}

ion-button.background{
  background-color: #242957;
}
