<ion-content>
  <div class="content">
    <div class="title">
      <ion-img src="../../../assets/icon/logo.png"></ion-img>
      <ion-text>Football BattleRoyale</ion-text>
    </div>
    <br><br><br><br><br>
    <form (ngSubmit)="login()" [formGroup]="credentials">

        <ion-text>{{'login.username' | translate }}</ion-text>
        <input formControlName="username">
        <br>
        <ion-text>{{ 'login.password' | translate }}</ion-text>
        <input type="password" formControlName="password">
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">{{ 'login.passwordRequired' | translate }}</span>
          <span *ngIf="password.errors?.minlength">{{ 'login.passwordLength' | translate }}</span>
        </div>
        <br><br>
        <button type="submit" [disabled]="!credentials.valid">{{ 'login.login' | translate }}</button>
        <ion-button (click)="signup()" type="button" expand="block" color="light" fill="clear">{{ 'login.notYetAMember' | translate }}</ion-button>
    </form>
  </div>
</ion-content>
