<ion-content>
  <ion-card>
    <ion-title>{{ date }}</ion-title>
    <ion-img src="../../../assets/icon/logo.png"></ion-img>
  </ion-card>

  <ion-card class="content">
    <ion-card class="divider"><ion-card></ion-card></ion-card>
    <ion-card class="partiesContent">
      <ion-card class="parties">
        <ion-list lines="none">
          <ion-list-header>
            <ion-title>Available Games</ion-title>
          </ion-list-header>
          <ion-item *ngFor="let room of rooms">
            <div class="gameStatus">
              <ion-text>Game: {{room.name}}</ion-text>
            </div>
            <div class="verticalLine"></div>
            <div class="rank">
              <ion-text>From {{ room.dateFrom | date:'mediumDate' }}</ion-text>
              <ion-text>To {{ room.dateTo | date:'medium' }}</ion-text>
            </div>
            <ion-icon class="icon" name="arrow-forward" (click)="toRoom(room.id)" ></ion-icon>
          </ion-item>
          <br />
        </ion-list>
      </ion-card>
    </ion-card>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tabindex="account">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
      <ion-tab-button tabindex="games">
        <ion-icon name="game-controller"></ion-icon>
        <ion-label>Games</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
