ion-header{
  // background-color: var(--first-color-light);
  z-index: 0;
  padding: 10px;
  #zizou{
    float: right;
    position: relative;
    z-index: 1;
    width: 40%;
  }
  ion-card-header{
    font-family: "Itim", sans-serif;
    font-style: normal;
    background: white;
    border-radius: 15px;
    #created{
      color: blue;
    }
    #playing{
      color: orange;
    }
    #finished{
      color: green;
    }
  }
  div{
    margin: 2px;
    width: 60%;
    color: white;
    padding: 5px;
    text-align: center;
    align-items: center;
  }
}

ion-content {
  --background: var(--first-color-light);
  display: flex;
  ion-slides{
    height: 100%;
    ion-slide{
      width: 100%;
      ion-card{
        font-family: "Itim", sans-serif;
        font-style: normal;
        padding: 15px 5px;
        border-radius: 15px;
        #matchOverview{
          display: flex;
          justify-content: space-between;
          div{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 0px;
            ion-img{
              padding: 0.5em;
            }
            ion-text{
              font-size: 14px;
            }
            #hour{
              font-size: large;
            }
          }
        }
      }
    }


    ion-img{
      width: 65px;
    }
  }
}

ion-toolbar{
  --background: #D9D9D9;
  --min-height: 0px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 50px;
  ion-back-button{
    float: left;
    height: 50px;
    width: 50px;
  }
  div{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
