ion-content {
  --background: none;
  background-image: url("../../../assets/abstract-gradient-neon-lights.jpg");
  background-size: cover;
  display: flex;
  #header {
    flex-grow: 1;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    #roomInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ion-text {
      font-family: "Itim", sans-serif;
      font-style: normal;
      background: white;
      border-radius: 15px;
    }
    #created {
      color: blue;
    }
    #playing {
      color: orange;
    }
    #finished {
      color: green;
    }
  }

  ion-slides {
    flex-grow: 3;
    height: 80%;
    ion-slide {
      width: 100%;
      ion-card {
        font-family: "Itim", sans-serif;
        font-style: normal;
        padding: 15px 5px;
        border-radius: 15px;
        #matchOverview {
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 0px;
            ion-img {
              padding: 0.5em;
            }
            ion-text {
              font-size: 14px;
            }
            #hour {
              font-size: large;
            }
          }
        }
      }
    }

    ion-img {
      width: 65px;
    }
  }
}

ion-toolbar {
  --background: #d9d9d9;
  --min-height: 0px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 50px;
  ion-back-button {
    float: left;
    height: 50px;
    width: 50px;
  }
  div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
