<div>
  <ul>
    <li>
      <img
        [routerLink]="['/home/profile']"
        [style.transform]="profileSize"
        src="../../../assets/icon/man_player.png"
        alt="profile"
      />
    </li>
    <li id="center">
      <img
        [routerLink]="['/home']"
        [style.transform]="homeSize"
        src="../../../assets/icon/world_cup.png"
        alt="main"
      />
    </li>
    <li>
      <img
        [routerLink]="['/home/game']"
        [style.transform]="gameSize"
        src="../../../assets/icon/flag.png"
        alt="game"
      />
    </li>
  </ul>
</div>
